JWT authentication

This issue is a meta-issue to document overall ideas/design. Concrete tasks will have separate issues.

CCF has the `update_ca_cert` proposal type which stores a DER-encoded public key / cert under a given name in the `ccf.gov.ca_cert_ders` table. The purpose of this is for apps to be able to validate the signature of JWTs (=tokens), which are part of the `authorization` HTTP header as part of JWT authentication. Naming of keys is left to the app developer. Note that the proposal and table name is suboptimal as the keys are not of certificate authorities (meaning the key is used to sign a token, not to sign another cert that signs a token). Implementing JWT auth in apps is already possible but cumbersome.

Some notes on terminology:
- "JWT auth" is not something that is directly defined as part of an RFC. The closest is [RFC6750](https://tools.ietf.org/html/rfc6750) which defines how to call APIs with a "bearer" access token, where the bearer token can be anything, and in our case we require JWTs as bearer tokens. See also the [Web APIs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#web-apis) section in the auth protocols docs of Microsoft. Note that this is distinct from supporting [OpenID Connect](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#web-apps) authentication, which also deals with JWT tokens but in this case the app/server is directly involved in the login flow of the user (traditional web apps). A modern web app type is the [single-page app](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#single-page-apps-javascript) where the auth flow is driven completely by the client using JavaScript (our Forum sample), and the app is called as in the Web API case above using bearer tokens, without knowing about the login flow of the client.
- Validating JWT bearer tokens is similarly not standardized, however, at a minimum, the JWT/JWS validation rules from [RFC7519](https://tools.ietf.org/html/rfc7519#section-7.2) and [RFC7515](https://tools.ietf.org/html/rfc7515#section-5.2) should be followed. Depending on the issuer of the tokens, additional non-app-specific validation of some body claims may be done. If the token issuer is an OpenID Connect compatible provider (which is typically the case), then this typically means checking that the `iss` claim matches the issuer URL. An issuer URL is a concept from OpenID Connect and is also part of the OpenID provider metadata.

Given that JWT bearer token authentication is by now an industry standard it should be supported more directly in CCF. This means:
- Apps should not do token signature validation themselves.
- Apps should not be aware of the governance-level kv table that stores the public signing keys for doing such validation.
- Developers/members should have a standard way to refresh public signing keys for one or more issuers.
- Apps should be able to declare that an endpoint requires/doesn't require JWT authentication.
- CCF should reject requests immediately that fail token signature validation (401 response).
- Apps should receive the decoded JWT body claims in the endpoint handler after successful token signature validation.

Basic facts about JWTs and signing keys:
- The following assumes that JWTs are issued by an OpenID provider.
- The OpenID provider metadata document is located at `/.well-known/openid-configuration` of the issuer endpoint, e.g. https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration or https://shareduks.uks.attest.azure.net/.well-known/openid-configuration.
- The issuer endpoint URL typically matches the `iss` claim in JWTs, although this is not actually the case for Microsoft's `common` endpoint.
- The OpenID provider metadata document contains a link to a JSON Web Key Set (JWKS) document at `jwks_uri` containing the signing keys.
- There are typically multiple valid signing keys at any time and any key may be used to sign a token.
- Each signing key has a key id and the JWT header contains that key id. Note that in the JWKS document extra keys may be listed for a single key id, however, only the first one is used for signing tokens, the rest are a potential cert chain if the key is not self-signed.
- Different issuers refresh their signing keys at different intervals. For example [Microsoft AAD](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-signing-key-rollover) rolls over keys every day but may also do it at any point in time in case of emergencies.

There are incremental steps CCF can take to make JWT authentication a first class citizen.

1. The first step would be to hide the details of key naming and storage and standardize them such that eventually CCF can implement token signature validation itself. Any naming scheme should also allow for key refresh, such that old keys are replaced by new keys for one or more issuers. Details like key ids and multiple issuers are important here. A governance script must be able to apply further validations on proposed keys, e.g. to validate embedded SGX quotes and claims. In this intermediate step, apps would continue to do their own token signature validation, based on knowledge of the semi-internal key naming scheme in the kv table used for key storage.

2. The next step would be to implement token signature validation in CCF and extend app-supplied endpoint metadata to enable/disable JWT-based authentication. Apps would remove their own signature validation and only validate/use the token claims themselves.

3. Eventually, CCF should gain the ability to auto-refresh signing keys, likely periodically and/or if an unknown key id was used in a token. For that, Root CA certs have to be stored in CCF and occasionally manually updated in order to ensure that the TLS connection to the OpenID endpoint of the issuer is genuine (note that this is not stricly necessary for cases where separate validation is done, e.g. based on embedded SGX claims, but it is strictly required for all other cases).

Here are some references that explain concepts or use those auth schemes:
- https://www.vaultproject.io/docs/auth/jwt 
- https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens 
- https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types
- https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc 
- https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-jwt-authentication/ 
- https://auth0.com/learn/token-based-authentication-made-easy/

#1834, #1893, and #1912 have implemented step 1, 2, and 3 of this meta-issue.